@{
    ViewBag.Title = "关于我们";
}
<style>
    p {
        text-indent: 2em;
    }
</style>
<div>
    <h2>关于</h2>
    <h3>新能源汽车充电导航系统</h3>
</div>

<div>
    <h3>我们提供什么？</h3>
    <p>@ViewBag.About</p>
    <h3>为什么选择我们？</h3>
    <p>@ViewBag.Merit</p>
    <p>@ViewBag.XuQingDian</p>
</div>
