@{
    ViewBag.Title = "联系我们";
}
<h2>@ViewBag.Title.</h2>
<h3>新能源汽车充电导航系统</h3>

<address>
    昆明&nbsp;•&nbsp;云南&nbsp;•&nbsp;中国<br />
    云南财经大学, 龙泉路<br />
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:1907087110@qq.com">1907087110@qq.com</a><br />
</address>