
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>新能源汽车充电桩导航系统</title>
    <link rel="stylesheet" href="~/Static/mui/css/mui.min.css" />
    <link rel="stylesheet" href="~/Static/mui/css/muiloading.css" />
    <link rel="stylesheet" href="~/Static/mui/css/mui.picker.min.css" />
    <script type="text/javascript" src="~/Static/jquery/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="~/Static/mui/js/mui.min.js"></script>
    <script type="text/javascript" src="~/Static/mui/js/muiloading.js"></script>
    <script type="text/javascript" src="~/Static/mui/js/mui.picker.min.js"></script>
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=4ab6fc6e84057a8a81334b9f605cb941"></script>
    

    <script src="~/ViewScripts/Caches.js"></script>
    <script src="~/ViewScripts/Strings.js"></script>

    <style>
        #root {
            margin: 0;
            padding: 0;
            display: flex;
            width: 100vw;
            height: 100vh;
        }

        .login-false {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-image: url("../Static/Images/backgroud.png");
            background-repeat: no-repeat;
        }

        .mui-toast-container {
            z-index: 999999 !important;
        }

        .login-box {
            background-color: white;
            border-radius: 6px;
            box-shadow: rgb(128, 128, 128) 0px 0px 20px 0px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-bottom: 16px;
        }

        .mui-input-group .mui-input-row:after {
            right: 15px;
        }

        .welcome {
            font-size: 25px;
            font-weight: 600;
            margin: 16px auto;
        }

        .title {
            font-size: 18px;
            font-weight: 600;
            margin: 0 auto 16px auto;
        }

        .mui-input-row .mui-input-clear ~ .mui-icon-clear, .mui-input-row .mui-input-password ~ .mui-icon-eye, .mui-input-row .mui-input-speech ~ .mui-icon-speech {
            right: 15px;
        }

        input::-ms-reveal {
            display: none;
        }

        .mui-input-row .mui-btn {
            line-height: 1.1;
            float: none;
            width: auto !important;
            padding: 7px 15px;
        }

        .mui-button-row {
            padding-top: 4px;
            max-height: 35px;
        }

        /***********登陆后***********/
        .login-true {
            display: none;
            width: 100%;
            height: 100%;
        }

        #map-panel {
            position: absolute;
            left: 0;
            right: 0;
            top: 10px;
            bottom: 0px;
        }

        #drive-panel {
            position: absolute;
            right: 20px;
            top: 62px;
            background-color: #AA333333
        }

        .plan {
            display: none;
        }

        #map-header {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            width: 100%;
            height: 20px;
            background-color: white;
            box-shadow: 0px 0px 20px 20px #fff;
        }

        #header-bar {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            width: 100%;
            height: 40px;
            padding: 5px 10px;
            display: flex;
            flex-flow: nowrap;
            justify-content: space-between;
            align-items: center;
        }

        #header-control {
            position: absolute;
            left: 0;
            bottom: 10px;
            height: 100px;
            padding: 0px 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            z-index: 200;
            pointer-events: none;
        }

            #header-control > * {
                pointer-events: all;
            }

        .cps-person {
            font-weight: 600;
            font-size: 30px;
        }

        @@font-face {
            font-family: 'Segoe MDL2 Assets';
            src:url(/Static/Fonts/segmdl2.ttf);
        }

        .cps-icon {
            font-family: 'Segoe MDL2 Assets';
            font-size: 20px;
            line-height: 1;
        }


        .cps-icon-btn {
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            border: 0 solid;
            box-shadow: 0 0 20px 1px #aaa;
        }

        .cps-icon-btn-primary {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 24px;
            background-color: #1a55cf;
            padding: 10px 40px;
            box-shadow: 0 0 20px 1px #aaa;
            font-weight: 600;
            color: #fff;
        }

            .cps-icon-btn-primary > span {
                font-weight: 600;
                color: #fff;
            }

        .cps-radio-group {
            display: flex;
            padding: 4px;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            border-radius: 17px;
            height: 34px;
            box-shadow: 0 0 20px 1px #aaa;
        }

        .cps-radio {
            padding: 5px 20px;
            height: 26px;
            border-radius: 13px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
        }

        .cps-radio-group > .check {
            background-color: #1a55cf;
            color: white;
        }

        .amap-marker > .amap-icon > img {
            filter: drop-shadow(0 0 2px #333) drop-shadow(0 0 0px #333) drop-shadow(0 0 0px #333);
        }

        .amap-info-close {
            right: 5px !important;
        }

        .amap-info-content {
            box-shadow: 0 0 20px 0px #999;
        }

        .amap-info-contentContainer:hover .amap-info-content {
            box-shadow: 0 0 10px 0px #333;
        }

        @@keyframes showList {
            from {
                height: 0px;
            }

            to {
                height: 227px
            }
        }

        @@keyframes closeList {
            from {
                height: 227px;
            }

            to {
                height: 0px
            }
        }

        #header-list {
            position: absolute;
            overflow: hidden;
            right: 0;
            bottom: 0px;
            width: 100%;
            padding: 20px 20px 0 80px;
            display: flex;
            flex-flow: nowrap;
            flex-direction: column;
            align-items: center;
            height: 0;
            max-width: 450px;
            z-index: 201;
            pointer-events: none;
        }

            #header-list > * {
                pointer-events: all;
            }

            #header-list > div {
                width: 100%;
                padding: 10px 20px;
                margin-bottom: 10px;
                background-color: #fff;
                border-radius: 17px;
                box-shadow: 0 0 10px 0px #aaa;
            }
    </style>
</head>
<body id="root">
    <div class="login-false">
        <div class="login-box">
            <span class="welcome">欢迎使用</span>
            <span class="title">新能源汽车充电桩导航系统</span>
            <form class="mui-input-group">
                <div class="mui-input-row">
                    <label>用户名*</label>
                    <input id="input-username" type="text" class="mui-input-clear" placeholder="请输入用户名">
                </div>
                <div class="mui-input-row">
                    <label>密码*</label>
                    <input id="input-password" type="password" class="mui-input-password" placeholder="请输入密码">
                </div>
                <div class="sign-up-box" style="display:none;">
                    <div class="mui-input-row">
                        <label>手机号*</label>
                        <input id="input-phone" type="text" class="mui-input-clear" placeholder="请输入手机号码">
                    </div>
                    <div class="mui-input-row">
                        <label>姓名</label>
                        <input id="input-name" type="text" class="mui-input-clear" placeholder="请输入真实姓名">
                    </div>
                    <div class="mui-input-row mui-row">
                        <div class="mui-col-sm-4 mui-col-xs-4">
                            <label style="width:auto">性别</label>
                        </div>
                        <div class="mui-radio mui-col-sm-3 mui-col-xs-3">
                            <label>男</label>
                            <input name="radio-sex" value="男" type="radio">
                        </div>
                        <div class="mui-radio mui-col-sm-3 mui-col-xs-3">
                            <label>女</label>
                            <input name="radio-sex" value="女" type="radio">
                        </div>
                    </div>
                    <div class="mui-input-row">
                        <label>邮箱</label>
                        <input id="input-email" type="text" class="mui-input-clear" placeholder="请输入电子邮箱">
                    </div>
                </div>

                <div class="mui-input-row mui-row">
                    <div class="mui-col-sm-6 mui-col-xs-6">
                        <div class="mui-input mui-checkbox">
                            <input id="input-remenber" name="checkbox1" value="Item 1" type="checkbox" checked>
                            <label>记住密码</label>
                        </div>
                    </div>
                    <div class="mui-col-sm-6 mui-col-xs-6">
                        <div class="mui-button-row">
                            <button id="sign-up" type="button" onclick="SignUp()" class="mui-btn">注册</button>
                            <button id="sign-in" type="button" onclick="SignIn()" class="mui-btn mui-btn-primary">登录</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="login-true">
        <div id="map-panel">
        </div>
        <div id="drive-panel" style="display: none;"></div>
        <div id="map-header">
            <div id="header-bar">
                <div onclick="MyInfo()">
                    <span class="mui-icon mui-icon-contact cps-person"></span>
                </div>
                <div>
                    <a href="/">
                        <span style="font-weight:600;">一起充</span>
                    </a>
                </div>
            </div>
        </div>
        <div id="header-control">
            <button class="cps-icon-btn" onclick="GetNearByPiles()">
                <span class="cps-icon">&#xE149;</span>
            </button>
            <button class="cps-icon-btn" onclick="GetLocation()">
                <span class="cps-icon">&#xECCB;</span>
            </button>
        </div>
        <div id="header-list">
            <div>
                <div style="display:flex;justify-content:space-between;">
                    <div style="margin-bottom:10px;">
                        <span id="pile-name" style="font-weight:600;">默认电站</span>
                    </div>
                    <div style="display:flex;align-items:baseline;justify-content: flex-end;min-width: 100px;">
                        <span style="color:#f50000;font-size:12px">收费&nbsp;￥</span>
                        <span id="pile-price" style="color:#f50000;font-size:24px">0.0</span>
                        <span style="color:#999;font-size:12px">/小时</span>
                    </div>
                </div>
                <div style="display:flex;justify-content:space-between;">
                    <div>
                        <span id="pile-id" style="color:#999;">NO.0</span>
                        <span id="pile-state">空闲中</span>
                    </div>
                    <div>
                        <span id="pile-plan-time"></span>
                    </div>
                </div>
            </div>
            <div id="list-box" style="display:flex;flex-direction:row;justify-content:space-between;align-items:center;background-color:transparent;box-shadow: none;padding: 0;">
                <button id="pile-start" disabled onclick="Start()" class="cps-icon-btn-primary" style="margin-bottom:10px;">充 电</button>
                <button id="pile-plan" disabled onclick="Plan()" class="cps-icon-btn-primary" style="margin-bottom:10px;">预 约</button>
            </div>
        </div>
    </div>

    <script>
        let gdMap = null;
        /** 高德定位控件 */
        let gdLocation = null;
        /** 当前位置坐标 */
        let nowPostion = null;
        /** 附近充电桩点标记列表 */
        let PilesMarker = [];
        /** 导航窗口 */
        let PilesInfoWindow = new AMap.InfoWindow({ offset: new AMap.Pixel(0, -30) });
        /** 距离规划 */
        let Driving = null;
        /** 用户Id */
        let UserId = 0;
        /** 选中的充电桩 */
        let SelectPile = null;
        /** 使用中的充电桩 */
        let UsePile = null;

        /** 加载完成后 */
        $(function () {
            document.body.onresize = function () {
                MenuSet();
            }
            MenuSet();

            let isLogin = false;
            $("#input-username").val(Caches.UserName);
            $("#input-password").val(Caches.Password);
            if (!Strings.IsNulllOrEmpty(Caches.UserName) && !Strings.IsNulllOrEmpty(Caches.Password)) {
                SignIn();
            }
            else {
                SetLogin(isLogin);
            }
            $(".amap-info-close").click(function () {
                gdMap.setFitView();
            });
        });

        /** 设置菜单显示模式 */
        function MenuSet() {
            if (document.body.clientWidth < 350) {
                $("#list-box").css("flex-direction", "column");
            }
            else {
                $("#list-box").css("flex-direction", "row");
            }
        }


        /** 设置登录状态 */
        function SetLogin(isLogin) {
            if (isLogin) {
                $(".login-true").css("display", "flex");
                $(".login-false").css("display", "none");
                LoadMap();
            }
            else {
                $(".login-true").css("display", "none");
                $(".login-false").css("display", "flex");
            }
        }

        /** 设置列表面板是否显示 */
        function SetListVisible(isShow) {
            if (isShow) {
                $("#header-list").css("height", "auto");
                $("#header-list").css("animation", "showList 400ms");
            }
            else {
                $("#header-list").css("height", "0");
                $("#header-list").css("animation", "closeList 200ms");
            }
        }

        /** 设置列表面板内容 */
        function SetListContent(id, name, price, state, planTime, userId) {
            $("#pile-start").prop("disabled", false);
            $("#pile-plan").prop("disabled", false);
            console.log($("#pile-id").text());
            $("#pile-id").text(`NO.${id}`);
            $("#pile-name").text(name);
            $("#pile-price").text(price);
            let stateText = state == 0 ? "空闲中" : (state == 1 ? "使用中" : "已预约");
            $("#pile-state").text(stateText);
            let stateColor = state == 0 ? "#07c160" : (state == 1 ? "#ff3b30" : "#f3d34c");
            $("#pile-state").css("color", stateColor)
            $("#pile-plan-time").text(planTime);
            if (userId == UserId) {
                // 本人订单
                if (state == 1) {
                    $("#pile-plan").prop("disabled", true);
                }
            }
            else if (state != 0) {
                // 他人使用中，不可使用，不可预约。
                $("#pile-start").prop("disabled", true);
                $("#pile-plan").prop("disabled", true);
            }
        }

        /** 加载地图 */
        function LoadMap() {
            gdMap = new AMap.Map('map-panel', {
                zoom: 15,
            });
            AMap.plugin([
                'AMap.ToolBar',
                'AMap.Scale',
                'AMap.MouseTool',
                'AMap.Geolocation',
                'AMap.Driving',
            ], function () {
                // 在图面添加工具条控件，工具条控件集成了缩放、平移、定位等功能按钮在内的组合控件
                //gdMap.addControl(new AMap.ToolBar());

                // 在图面添加比例尺控件，展示地图在当前层级和纬度下的比例尺
                //gdMap.addControl(new AMap.Scale());
                gdLocation = new AMap.Geolocation({
                    timeout: 10000,
                    enableHighAccuracy: true,
                    zoomToAccuracy: true,
                    buttonOffset: new AMap.Pixel(-50, 20),
                    buttonPosition: 'LB'
                })
                // 在图面添加定位控件，用来获取和展示用户主机所在的经纬度位置
                gdMap.addControl(gdLocation);
                GetLocation(() => { GetNearByPiles(); });
                gdMap.on("click", () => {
                    if (UsePile != null) return;
                    gdMap.setFitView();
                    SetListVisible(false);
                    PilesInfoWindow.close();
                    SelectPile = null;
                });
            });
        };

        /** 登录 */
        function SignIn() {
            if ($(".sign-up-box").css("display") == "block") {
                $(".sign-up-box").css("display", "none");
            }
            else {
                // 提交登录
                let username = $("#input-username").val();
                let password = $("#input-password").val();
                if (Strings.IsNulllOrEmpty(username)) {
                    mui.toast("请输入用户名。");
                }
                else if (Strings.IsNulllOrEmpty(password)) {
                    mui.toast("请输入密码。");
                }
                else {
                    mui.showLoading("正在登录...");
                    $.ajax({
                        type: "post",
                        url: "/User/SignIn",
                        data: { username: username, password: password },
                        success: (res) => {
                            mui.toast(res.Message);
                            if (res.State == 0) {
                                let remeber = $("#input-remenber").prop("checked");
                                console.log(remeber);
                                Caches.UserName = username;
                                UserId = res.Data.Id;
                                if (remeber) {
                                    Caches.Password = password;
                                }
                                else {
                                    Caches.Password = "";
                                }
                                SetLogin(true);
                            }
                        },
                        error: () => {
                            mui.toast("网络错误，请稍后重试");
                        },
                        complete: () => {
                            mui.hideLoading();
                        }
                    });
                }
            }
        }
        /** 注册 */
        function SignUp() {
            if ($(".sign-up-box").css("display") == "none") {
                $(".sign-up-box").css("display", "block");
            }
            else {
                // 提交注册
                let username = $("#input-username").val();
                let password = $("#input-password").val();
                let name = $("#input-name").val();
                let sex = $("input[name='radio-sex']:checked").val();
                let phone = $("#input-phone").val();
                let email = $("#input-email").val();

                if (Strings.IsNulllOrEmpty(username)) {
                    mui.toast("请输入用户名。");
                }
                else if (Strings.IsNulllOrEmpty(password)) {
                    mui.toast("请输入密码");
                }
                else if (!Strings.IsPhoneNumber(phone)) {
                    mui.toast("请输入正确的手机号码");
                }
                else {
                    mui.showLoading("正在注册新用户...")
                    $.ajax({
                        type: "post",
                        url: "/User/SignUp",
                        data: {
                            user: {
                                UserName: username,
                                Password: password,
                                sex: sex,
                                Name: name,
                                Phone: phone,
                                Email: email,
                            }
                        },
                        success: (res) => {
                            mui.toast(res.Message);
                            if (res.State == 0) {
                                $(".sign-up-box").css("display", "none");
                            }
                        },
                        error: () => {
                            mui.toast("网络错误，请稍后重试。");
                        },
                        complete: () => {
                            mui.hideLoading();
                        }
                    });
                }
            }
        }

        /** 跳转个人信息页 */
        function MyInfo() {
            Caches.UserId = UserId;
            window.location.href = "/Home/Personal";
        }

        /** 菜单一、探索附近  获取附近充电桩 */
        function GetNearByPiles(distance = 6000) {
            if (Driving == null) {
                Driving = new AMap.Driving({
                    map: gdMap,
                    panel: "drive-panel"
                });
            }
            Driving.clear();
            mui.showLoading("正在获取附近充电桩...")
            $.ajax({
                url: "/User/GetNearbyPiles",
                data: {
                    longitude: nowPostion.lng,
                    latitude: nowPostion.lat,
                    distance: distance,
                },
                type: "post",
                success: (res) => {
                    mui.toast(res.Message)
                    if (res.State == 0) {
                        gdMap.remove(PilesMarker);
                        PilesMarker = [];
                        for (var i = 0; i < res.Data.length; i++) {
                            var icon = new AMap.Icon({
                                size: new AMap.Size(35, 44),    // 图标尺寸
                                image: '../../Static/Images/pileIcon2.png',  // Icon的图像
                                imageOffset: new AMap.Pixel(0, 0),  // 图像相对展示区域的偏移量，适于雪碧图等
                                imageSize: new AMap.Size(35, 44)   // 根据所设置的大小拉伸或压缩图片
                            });
                            let marker = new AMap.Marker({
                                position: [res.Data[i].Longitude, res.Data[i].Latitude],
                                icon: icon,
                            });
                            marker.position = res.Data[i];
                            marker.on("click", showPilesInfo);
                            PilesMarker.push(marker);
                        }
                        gdMap.add(PilesMarker);
                        gdMap.setFitView();
                        GetUsePile();
                    }
                },
                error: () => {
                    mui.toast("网络错误，请稍后重试");
                },
                complete: () => {
                    mui.hideLoading();
                }
            })
        }
        /** 菜单二、开始导航  规划附近路线 */
        function StartNavigation(lng, lat) {
            PilesInfoWindow.close();
            console.log(lng);
            console.log(lat);

            Driving.search(new AMap.LngLat(nowPostion.lng, nowPostion.lat), new AMap.LngLat(lng, lat), function (status, result) {
                // result 即是对应的驾车导航信息，相关数据结构文档请参考  https://lbs.amap.com/api/javascript-api/reference/route-search#m_DrivingResult
                if (status === 'complete') {
                    mui.toast('绘制驾车路线完成');
                } else {
                    mui.toast('获取驾车数据失败：' + result);
                }
            });

        }
        /** 菜单三、退出登录 返回登录页 */
        function SignOut() {
            gdMap.clearMap();
            Driving.clear();
            Caches.Password = "";
            $("#input-password").val(Caches.Password);
            SetLogin(false);
        }
        /** 菜单四、管理后台 跳转管理后台 */
        function AdminPiles() {
            window.location.href = "/Home/Piles"
        }

        /** 获取正在进行的订单 */
        function GetUsePile() {
            mui.showLoading("正在查找进行中的订单...");
            $.ajax({
                type: "post",
                url: "/User/GetMyUsePile",
                data: { userId: UserId },
                success: (res) => {
                    if (res.State == 0) {
                        mui.toast(res.Message);
                        SelectPile = res.Data;
                        UsePile = res.Data;
                        let time = "";
                        if (!Strings.IsNulllOrEmpty(UsePile.StartTime)) {
                            time = `${UsePile.StartTime}`;
                        }
                        if (!Strings.IsNulllOrEmpty(UsePile.EndTime)) {
                            time = `${UsePile.StartTime} - ${UsePile.EndTime}`;
                        }
                        SetListVisible(true);
                        if (UsePile.State == 1) {
                            $("#pile-start").text("结 束");
                        }
                        else {
                            $("#pile-plan").text("取 消");
                        }
                        SetListContent(UsePile.Id, UsePile.Name, UsePile.Price, UsePile.State, time, UserId);
                    }
                },
                error: () => {
                    mui.toast("网络错误，请稍后重试");
                },
                complete: () => {
                    mui.hideLoading();
                }
            });
        }

        /** 开始充电 */
        function Start() {
            let txt = $("#pile-start").text();
            if (txt == "充 电") {
                mui.showLoading("正在启动充电桩...");
                $.ajax({
                    type: "post",
                    url: "/User/StartUsePile",
                    data: {
                        userId: UserId,
                        pileId: SelectPile.Id,
                    },
                    success: (res) => {
                        mui.toast(res.Message)
                        if (res.State == 0) {
                            $("#pile-start").text("结 束");
                            $("#pile-plan").text("预 约");
                            SetListContent(SelectPile.Id, SelectPile.Name, SelectPile.Price, 1, res.Data, UserId);
                            UsePile = SelectPile;
                        }
                    },
                    error: () => {
                        mui.toast("网络错误，请稍后重试");
                    },
                    complete: () => {
                        mui.hideLoading();
                    }
                })
            }
            else {
                mui.showLoading("正在关闭充电桩...");
                $.ajax({
                    type: "post",
                    url: "/User/EndUsePile",
                    data: {
                        userId: UserId,
                        pileId: UsePile.Id,
                    },
                    success: (res) => {
                        mui.toast(res.Message)
                        if (res.State == 0) {
                            $("#pile-start").text("充 电");
                            UsePile = null;
                            SetListVisible(false);
                            Caches.UserId = UserId;
                            Caches.PayId = res.Data.Id;
                            Caches.PayMoney = res.Data.Money;
                            window.location.href = `/Home/Pay`;
                        }
                    },
                    error: () => {
                        mui.toast("网络错误，请稍后重试");
                    },
                    complete: () => {
                        mui.hideLoading();
                    }
                })
            }
        }

        /** 预约使用 */
        function Plan() {
            let txt = $("#pile-plan").text();
            if (txt == "预 约") {
                let startTime;
                let endTime;
                var dtPicker = new mui.DtPicker({ type: "datetime", beginDate: new Date() });
                mui.toast("请选择开始时间");
                dtPicker.show(function (selectItems) {
                    startTime = selectItems.value;
                    console.log(startTime);
                    dtPicker = new mui.DtPicker({ type: "datetime", beginDate: new Date(startTime) });
                    mui.toast("请选择结束时间");
                    dtPicker.show(function (select) {
                        endTime = select.value;
                        // 开始预约
                        mui.showLoading("正在预约使用充电桩...");
                        $.ajax({
                            type: "post",
                            url: "/User/PlanUsePile",
                            data: {
                                userId: UserId,
                                pileId: SelectPile.Id,
                                startTime: startTime,
                                endTime: endTime,
                            },
                            success: (res) => {
                                mui.toast(res.Message);
                                if (res.State == 0) {
                                    UsePile = SelectPile;
                                    $("#pile-plan").text("取 消");
                                    let time = `${startTime} - ${endTime}`;
                                    SetListContent(UsePile.Id, UsePile.Name, UsePile.Price, 2, time, UserId);
                                }
                            },
                            error: () => {
                                mui.toast("网络错误，请稍后重试。");
                            },
                            complete: () => {
                                mui.hideLoading();
                            }
                        });
                    });
                });
            }
            else {
                mui.showLoading("正在取消预约...");
                $.ajax({
                    type: "post",
                    url: "/User/PlanCanelPile",
                    data: {
                        userId: UserId,
                        pileId: UsePile.Id,
                    },
                    success: (res) => {
                        mui.toast(res.Message);
                        if (res.State == 0) {
                            SetListContent(UsePile.Id, UsePile.Name, UsePile.Price, 0, "");
                            SetListVisible(false);
                            UsePile = null;
                            $("#pile-plan").text("预 约");
                        }
                    },
                    error: () => {
                        mui.toast("网络错误，请稍后重试。");
                    },
                    complete: () => {
                        mui.hideLoading();
                    }
                });
            }
        }

        /** 显示指定的充电桩的交互面板 */
        function showPilesInfo(e) {
            let pile = e.target.position;
            //let stateText = pile.State == 0 ? "空闲中" : (pile.State == 1 ? "使用中" : "已预约");
            console.log(pile);
            let html = `<div>
                          <div>
                              <span style="font-weight:600;margin-right: 5px;">${pile.Name}</span>
                          </div>
                          <div style="display: flex;justify-content: space-between;align-items: center;">
                              <span style="margin-right:10px;color:#999;font-size:13px;">NO.${pile.Id}</span>
                              <button style="margin-right: -10px;font-size: 12px;padding: 3px 8px;" class="mui-btn-primary" onclick="StartNavigation(${pile.Longitude},${pile.Latitude})">去这里</button>
                          </div>
                      </div>`;
            PilesInfoWindow.setContent(html);

            gdMap.setFitView(new AMap.Marker({ position: [pile.Longitude, pile.Latitude] }));
            PilesInfoWindow.open(gdMap, [pile.Longitude, pile.Latitude]);
            if (UsePile == null) {
                SetListVisible(true);
                let time = "";
                if (Strings.IsNulllOrEmpty(pile.StartTime) || Strings.IsNulllOrEmpty(pile.EndTime)) { time = ""; }
                else { time = `${pile.StartTime} - ${pile.EndTime}`; }
                SelectPile = pile;
                SetListContent(pile.Id, pile.Name, pile.Price, pile.State, time, pile.UserId);
            }
        }

        /** 定位 */
        function GetLocation(success) {
            mui.showLoading("正在获取当前位置...")
            gdLocation.getCurrentPosition(
                (state, result) => {
                    mui.hideLoading();
                    if (state == "complete") {
                        nowPostion = result.position;
                        $(".GetNearBy").prop("disabled", false)
                        mui.toast("定位成功。");
                        gdMap.setFitView(new AMap.Marker({ position: [nowPostion.lng, nowPostion.lat] }));
                        if (success != undefined && success != null) { success(); }
                        console.log(result.position);
                    }
                    else {
                        mui.toast("定位失败，请允许网站访问您的位置信息。");
                    }
                },
                () => {
                    mui.hideLoading();
                    mui.toast("定位失败，请允许网站访问您的位置信息。");
                }
            );
        }
    </script>
</body>
</html>
