
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>充电桩管理</title>
    <link rel="stylesheet" href="~/Static/mui/css/mui.min.css" />
    <link rel="stylesheet" href="~/Static/mui/css/muiloading.css" />
    <script type="text/javascript" src="~/Static/mui/js/mui.min.js"></script>
    <script type="text/javascript" src="~/Static/mui/js/muiloading.js"></script>
    <script type="text/javascript" src="~/Static/jquery/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=4ab6fc6e84057a8a81334b9f605cb941"></script>

    <script src="~/ViewScripts/Caches.js"></script>
    <script src="~/ViewScripts/Strings.js"></script>
</head>
<body>
    <div> 
    </div>
</body>
</html>
